.header {
   background-color: green;
}
.wrapper-main-card {
   display: grid;
   align-content: center;
   padding: 40px;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   row-gap: 100px;
   column-gap:40px;
 }

.card {
  text-align: justify;
  row-gap: 8px;
  width: 25rem;
  border-radius: 80px;
  font-size: 102%; 

}
.card-body {
  flex: 0 1 auto;
  margin:auto;

}
